@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);
#edit-with-js-bin {
  display: none !important;
}
.container{
	width: 100%;
	height: 100%;
	margin-top: 60px;
	position: relative;
}
.cont_top{
	width: 100%;
	height: 137px;
}
.header {
  position: relative;
  width: 100%;
  font-size: 1.9em;
  padding-top: 34px;
  color: #66676b;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  /*display: block;*/
  z-index: 2;
}
.individual-header {
position: absolute;
border-radius: 100%;
background-color: #c3e9e6;
z-index: 1;
}

.cont_main{
	width: 100%;
	height: 980px;
	background-color: #c3e9e6;
	background-image:url(../img/aboutus/conbg.png);
	position: relative;
}
.main_contro{
	width: 940px;
	height: 320px;
	margin-left:auto;
	margin-right: auto;
	background-color: #fff;
	position: relative;
	top: -37px;
	-webkit-box-shadow:0 2px 10px 0 rgba(118,111,109,0.5), 0 2px 15px 0 rgba(118,111,109,0.5);
	box-shadow: 0 2px 10px 0 rgba(118,111,109,0.5), 0 2px 15px 0 rgba(118,111,109,0.5);
}
.contro_left{
	width: 620px;
	height: 320px;
	float: left;
}
.contro_right{
	width: 320px;
	height: 320px;
	float: right;
	text-align: center;
	color: #66676b;
    padding-top: 45px;
}
.text_01{
	padding-top: 30px;
	line-height: 20px;
}
.main_members{
	width: 940px;
	height: 320px;
	margin-left:auto;
	margin-right: auto;
	background-color: #fff;
	position: relative;
	padding: 0;
	top: -17px;
	-webkit-box-shadow:0 2px 10px 0 rgba(118,111,109,0.5), 0 2px 15px 0 rgba(118,111,109,0.5);
	box-shadow: 0 2px 10px 0 rgba(118,111,109,0.5), 0 2px 15px 0 rgba(118,111,109,0.5);
}
.main_members h2{
	color: #8fc8c3;
	font-size: 1.2em;
	text-align: center;
	padding-top: 14px;
}
.main_members p{
	padding-top: 12px;
	font-size: 0.9em;
	color: #66676B;
	text-align: center;
	line-height: 20px;
}
.membox{
	margin: 0;
	width: 212.5px;
	height: 277px;
	margin-top: 21.5px;
	position: absolute;
	display: inline-block;
}
.member_01{
	margin-left: 18px;
}
.member_02{
	margin-left: 248.5px;
}
.member_03{
	margin-left: 479px;
}
.member_04{
	margin-left: 709.5px;
}
.multi-hover {
	position: relative;
	overflow: hidden;
}
.multi-hover span {
	position: absolute;
	width: 100%;
	height: 100%;
	line-height: 120px;
	font-weight: 100;
	text-align: center;
	box-sizing: border-box;
	font-size: 3em;
	z-index: 2;
	transition: .3s linear;
	color: white;
	padding: 15%;
	opacity: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
.multi-hover span:hover { opacity: 1; cursor:pointer;}

.multi-hover span:nth-child(odd):hover { left: 0; z-index: 3; }
.multi-hover span:nth-child(odd).hover { left: 0; z-index: 1; }
.multi-hover span:nth-child(even):hover { top: 0; z-index: 3; }
.multi-hover span:nth-child(even).hover { top: 0; z-index: 1; } 

.multi-hover span:nth-child(1) { /* right panel */
	top: 0;
	left: 90%;
	background: hsla(180,70%,50%,0.6);  
	}
	 
.multi-hover span:nth-child(2) { /* top panel */ 
	top: -90%;
	left: 0;
	background: hsla(180,70%,50%,0.6); 
	}   

.multi-hover span:nth-child(3) { /* left panel */ 
	top: 0;
	left: -90%;
	background: hsla(180,70%,50%,0.6); 
	}  
	
.multi-hover span:nth-child(4) { /* bottom panel */
	top: 90%;
	left: 0;
	background: hsla(180,70%,50%,0.6); } 


.main_mail{
	width: 900px;
	height: 230px;
	background-color: #fff;
	border: 20px solid #8FC8C3;
	margin-left:auto;
	margin-right: auto;
	position: relative;
	top: 3px;
	-webkit-box-shadow:0 2px 10px 0 rgba(118,111,109,0.5), 0 2px 15px 0 rgba(118,111,109,0.5);
	box-shadow: 0 2px 10px 0 rgba(118,111,109,0.5), 0 2px 15px 0 rgba(118,111,109,0.5);
}
.main_mail p{
	font-size: 1.7em;
	color: #66676B;
	text-align: center;
	padding: 16px 0;
}
.main_mail form{
	width: 715px;
	height: 154.5px;
	margin: 0 auto;
	position: relative;
}
.samecss{
	width: 340px;
	height: 41.5px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-border-radius: 3px;
	background-color: #c7e3e1;
	border: none;
	color: #83817b;
	font-size: 1.3em;
	padding-left: 10px;
}
#name{
	position: absolute;
}
#email{
	position: absolute;
	top: 48.5px;
}
#message{
	width: 340px;
	height: 90px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-border-radius: 3px;
	background-color: #c7e3e1;
	border: none;
	color: #83817b;
	font-size: 1.3em;
	padding-left: 10px;
	position: absolute;
	left: 365px;
}
#submitbtn{
	width: 185px;
	height: 41.5px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-border-radius: 3px;
	border: none;
	background-color: #8FC8C3;
	font-size: 1.5em;
	color: #fff;
	cursor:pointer;
	position: absolute;
	top: 113px;
	left: 265px;
}
