body {
	   font:normal 100%  "微软雅黑",arial,sans-serif;
	   min-width: 1280px;
	  /* overflow: hidden;*/
	   height:100%;
	}
.clear {
	    clear: both;
	}
ul,li {
	    list-style: none;
	}
img {
	    border: none;
	}
	
/*顶部工具栏*/
.toolbar{
	width: 100%;
	height: 60px;
	min-width: 1280px;
	position: fixed;
	top:0;
	background-color: #fff;
	-webkit-box-shadow:0 2px 10px 0 rgba(0,137,196,0.16), 0 2px 15px 0 rgba(0,137,196,0.12);
	box-shadow: 0 2px 10px 0 rgba(0,137,196,0.16), 0 2px 15px 0 rgba(0,137,196,0.12);
	transition: height 0.5s ease-in;/*高度变化过度,0.5秒变化逐渐变快*/
	z-index: 10;
}
/*头部滚动高度动画效果*/
.anim{
	height: 50px;
	transition: height 0.5s ease-in;/*高度变化过度,0.5秒变化逐渐变快*/
}
#top_tool{
	/*border:1px solid #434343;*/
	height:100%;
	width:90%;
	float:left;
}
#logo_img{
	float: left;
	height:100%;
	width:30%;
}
#nav{ 
	/*border: 1px solid #000000;*/
	float: right;
	height: 100%;
	width: 380px;
	margin-left: 20%;
}

#nav .nav-menu{ 
	/*border: 1px solid #000000;*/
	width: 100%;
	height:100%;
	/*margin: 1.2% auto 0 auto;*/
	margin-left: auto;
	margin-right: auto;
}
#nav .nav-menu a{ 
	/*border: 1px solid #000000;*/
	display:block; 
	float:left; 
	height:100%; 
	padding:3% 8.3%; 
	line-height: 36px; 
	color:#65676a; 
	font-size:130%; 
	text-decoration:none;
}


#nav .nav-current{ 
	position:absolute; 
	bottom:-2px; 
	height:5px; 
	overflow:hidden; 
	background:#537FAA;
}

/*选择框的范围要比外面包围的底部div范围广,才能确保默认的向下箭头消失,使用自己的向下箭头*/
.styled-select #languageMenu {
   background: transparent;
   width: 90px;
   font-size: 18px;
   color:#537faa;
   padding-left: 4px;
   border: 1px solid #E1E5EE;
   border-radius: 4px;
   height: 30px;
    /*很关键：将默认的select选择框样式清除*/
   appearance:none;
   -moz-appearance:none;
   -webkit-appearance:none;/*for chrom*/
   outline: none;
}

/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
.styled-select #languageMenu ::-ms-expand{
	display: none;
}
.styled-select {
   width: 90px;
   border-radius: 4px;
   height: 30px;
   overflow: hidden;
   background: url(../img/select.jpg) no-repeat right  #E1E5EE;
   position: absolute;
   top: 25%;
   right: 2%;
  
}


.footer{
	width:100%;
	height:60px;
	background-color:#fff;
	text-align: center;
	line-height: 60px;
	color: #908e8e;
	/*opacity: 0.5;*/
	position: relative;
}
