html{
	height: 100%;
}
body{
	height: calc(100% - 38px);
	overflow: hidden;
}

.bar{
	width: 100%;
	height: 38px;
}

#languageMenu{
	position: relative;
	left: 10px;
	width: 100px;
	height: 20px;
	top: 9px;
}

#playBtn{
	position: relative;
	left: 10px;
	top: 9px;
}

.workplace{
	position: relative;
	width: 100%;
	height: 100%;
}

.left{
	width: 430px;
	height: 100%;
	position: relative;
	float: left;
	display: block;
}

#visilazation{
	position: absolute;
	width: auto;
	height: auto;
	top: 0;
	border: solid #BFCBDF 1px;
	margin-left: 15px;
	margin-right: 15px;
}

#codeDiv{
	position: absolute;
	bottom: 0;
	width: 400px;
	height: calc(100% - 415px);
	border: solid #BFCBDF 1px;
	margin-left: 15px;
	margin-right: 15px;
}

#tabs{
	width: 100%;
	height: 32px;
}

#tabs div{
	float: left;
	padding: 5px;
	margin: 5px 3px 0 3px;
	border: solid #BFCBDF 1px;
}

#tabs div:hover,active{
	background-color: #BFCBDF;
}

.tabon{
	background-color: #B2B4BF;
}

.taboff{
	background-color: #fff;
}

#codeDiv pre {
	border-top: solid #BFCBDF 1px;
	height: calc(100% - 32px);
	display: none;
	padding: 10px;
	box-sizing: border-box;
}

.right{
	width: calc(100% - 430px);
	height: 100%;
	position: relative;
	float: right;
}

#blocklyDiv{
	position: relative;
	width: 100%;
	height: 100%;
}

#blocklyDiv .blocklyToolboxDiv{
	width: 130px;
}
