#dialogCode {
  width: 790px;
  height: 290px;
  margin-left: -395px;
  margin-top: -195px;
  padding: 20px;
  display: none;
}

#dialogTip {
  width: 340px;
  height: 500px;
  margin-left: -170px;
  margin-top: -250px;
  display: none;
  text-align: center;
}

#dialogWin {
  width: 340px;
  height: 500px;
  margin-left: -170px;
  margin-top: -250px;
  display: none;
  text-align: center;
}

#dialogWin .dialog-btn-small {
  position: relative !important;
  margin-left: 10px;
  margin-right: 10px;
  top: 50px;
}

.dialog {
  background-color: white;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 12;
}

.dialog-div {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding-left: 280px;
}

.dialog-h {
  font-size: 24px;
  margin-top: 28px;
}

.dialog-p {
  font-size: 18px;
  margin-top: 32px;
}

.dialog-btn {
  font-size: 20px;
  position: absolute;
  bottom: 45px;
  background-color: #5883b0;
  border-radius: 5px;
  border: none;
  color: white;
}

.dialog-btn-big {
  width: 225px;
  height: 44px;
  margin-left: -112.5px;
}

.dialog-btn-small {
  width: 113px;
  height: 44px;
}

.layer {
  background-color: black;
  opacity: 0.75;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  display: none;
}
