/*大容器*/
.container{
	width:100%;
	height: 840px;
	position: relative;
	top:60px;
	padding-top: 30px;
	/*position: absolute;*/
	background-color: #b0c2d4;
	background-image:url(../img/backgroundimg.png);

}

.cont_main{
	width: 1204px;
	height:660px;
	margin-left:auto;
	margin-right:auto;
	background-color: #fff;
	-webkit-box-shadow:0 2px 5px 0 rgba(0,137,196,0.16), 0 2px 10px 0 rgba(0,137,196,0.12);
	box-shadow: 0 2px 5px 0 rgba(0,137,196,0.16), 0 2px 10px 0 rgba(0,137,196,0.12);
/*	z-index: 0;*/
}
/*关卡选择工具栏*/
.cont_inner_top{
	height:60px;
	width:100%;
/*	z-index: 0;*/
}
/*游戏区域*/
.cont_inner_left{
	height:600px;
	width:500px;
	/*border:1px solid #000;*/
	float: left;
/*	z-index: -1;*/
	position: relative;
}
/*积木块工作区*/
.cont_inner_right{
	height:600px;
	width:700px;
	float: right;
/*	z-index: -1;*/
}
#workspce_block{
	position: relative;
	width: 100%;
	height: 100%;
}
#workspce_block .blocklyToolboxDiv{
	width:300px;
}
.game_view{
	height:500px;
	width:500px;
}

.buttonbox{
	height:100px;
	width:500px;
	background: url(../img/buttonbg.jpg);
	bottom: 0;
	position: absolute;
}
.btn{
	/*文字设置*/
	color:#FFFFFF;
	font-family: "微软雅黑";
	font-size: 24px;
	text-decoration: none;
	text-align: center;
	/*按钮样式*/
	height: 40px;
	width:95px;
	border-radius: 6px;
	padding: 0;
	display: inline-block;
 	outline: none;
 	border:none;
  	cursor: pointer;
	/*background: -webkit-gradient(linear, left top, right bottom, from(#0493ff), to(#35dfff));
    background: -moz-linear-gradient(left,  #0493ff,  #35dfff);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0493ff', endColorstr='#35dfff');*/
   background: #537faa;
  	/*位置设置*/
  	position:absolute;
  	top:30px;
  	left:80%;
	/*阴影设置*/
	box-shadow: none;
	visibility: hidden;
}
.btn:hover,active{
	box-shadow: 2px 2px 4px  #9E9E9E ;
}
.active {
	visibility: visible !important;
}


/*主体的头部*/
#innertop_name{
	height:60px;
	width:180px;
	margin: 0;
	color: #0493FF;
	font-size: 22px;
	line-height: 60px;
	text-align: center;
	position: relative;
	float: left;
	top:0;
}

/*关卡按钮*/
.dots{

  /* -webkit-filter:blur(0.5px);*/
   padding:0;
   margin:0;
   /*width:270px;*/
   line-height: 60px;
   position: relative;
   float:left;
   top:0;
 }
.levelbtn{
	display:inline-block;
    vertical-align:middle;
	/*文字设置*/
	color:#FFFFFF;
	font-family: "微软雅黑";
	font-size: 17px;
	text-decoration: none;
	line-height: 30px;
	text-align: center;
	/*按钮样式*/
	height: 30px;
	width: 30px;
	border-radius: 100%;
	padding: 0;
    outline: none;
    border:none;
    cursor: pointer;
    background: #e1e5ee;
    position:relative;
    margin-left:20px;
 /*   z-index:2;*/

}
.levelactive{
	background: -webkit-gradient(linear, left top, right bottom, from(#0493ff), to(#35dfff));
    background: -moz-linear-gradient(top,  #0493ff,  #35dfff);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0493ff', endColorstr='#35dfff');
}

.select{
   visibility: visible;
   border-radius:100%;
   width:40px;
   height:40px;
   background-color: #537faa;
   opacity:0.8;
   border:none;
   position:absolute;
   z-index:3;
   top:12px;
   pointer-events:none;
   color:#FFFFFF;
   font-size: 17px;
   font-family: "微软雅黑";
}
.showcodeBox{
	float:right;
	position: relative;
	right:1.67%;
	top:25%;
}
/*显示代码按钮*/
.showcode{
	/*文字设置*/
	color:#FFFFFF;
	font-family: "微软雅黑";
	font-size: 18px;
	text-decoration: none;
	text-align: center;
	line-height: 30px;
	/*按钮样式*/
	height: 30px;
	width:auto;
	border-radius: 4px;
	padding: 0 10px;
	display: inline-block;
    outline: none;
    border:none;
    cursor: pointer;
	/*background: -webkit-gradient(linear, left top, right bottom, from(#0493ff), to(#35dfff));
    background: -moz-linear-gradient(left,  #0493ff,  #35dfff);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0493ff', endColorstr='#35dfff');*/
   background: #537faa;

    box-shadow:none;
 /*   z-index: 2;*/
}
.showcode:hover,active{
	box-shadow:  1px 1px 4px  #9E9E9E;
}

/**
* Slider
*/
.slider {
	width: 200px;
	height: 8px;
	margin-left: 30px;
	margin-top: 46px;
	background: white;
	box-shadow: 0 0 5px 2px #b0c2d4 inset;
	border-radius: 5px;
	position: relative;
	display: none;
}

.slider-handle {
	width: 15px;
	height: 15px;
	border-radius: 100%;
	background: white;
	box-shadow: 0 0 5px 2px #b0c2d4;
	display: inline-block;
	position: absolute;
	margin-left: -7.5px;
	top: -3.5px;
	left: 50%;
	cursor: default;
}

.fast {
	position: relative;
	left: 30px;
	top: 5px;
}

.slow {
	position: relative;
	left: 182px;
	top: 5px;
}
/*@media  screen and (max-width: 1520px) {
	.container{
	width:1520px;
    }
    .footer{
    	width: 1520px;
    }
}*/
